apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-info
  labels:
    app: cluster-info
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cluster-info
  template:
    metadata:
      labels:
        app: cluster-info
    spec:
      containers:
        - name: app
          image: docker.io/YOUR_DOCKERHUB_USERNAME/cluster-info:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CLUSTER_NAME
              value: "demo-cluster"
            - name: APP_VERSION
              value: "1.0.0"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: cluster-info
spec:
  selector:
    app: cluster-info
  ports:
    - name: http
      port: 80
      targetPort: 3000
